.product_modal .spec_select {
    width: 100%;
    position: relative;
    font-size: .8em;
}
.product_modal .spec_select {
    border: 1px solid var(--dark_gray_color);
    border-radius: .3em;
    position: relative;
}

.product_modal .spec_select .select {
    padding: .5em;
    cursor: pointer;
}

.product_modal .spec_select .material-symbols-outlined {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    transition: transform .3s;
}

.product_modal .spec_select .material-symbols-outlined.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.product_modal .spec_select label {
    width: 100%;
}

.product_modal .spec_select .spec_list {
    position: absolute;
    top: 110%;
    inset-inline: 0;
    max-height: 8em;
    outline: 1px solid var(--dark_gray_color);
    outline-offset: -1px;
    overflow: overlay;
    overscroll-behavior: contain;
    -ms-scroll-chaining: contain;
    background-color: #fff;
}

.product_modal .spec_select .spec_list.hidden {
    display: none;
}

.product_modal .spec_select .spec_list::-webkit-scrollbar {
    width: .8em;
  }

.product_modal .spec_select .spec_list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }

.product_modal .spec_select .spec_list li {
    position: relative;
    transition: background .1s ease-in-out,
                color .1s ease-in-out;
}

.product_modal .spec_select .spec_list li:hover {
    background-color: var(--primary_color);
    color: #fff;
}

.product_modal .spec_select .spec_list li input[type="radio"] {
    display: none;
}

.product_modal .spec_select .spec_list li label {
    padding: .5em;
    cursor: pointer;
}

.product_modal .spec_select .spec_list li.soldout {
    background-color: transparent;
    color: var(--dark_gray_color);
}

.product_modal .spec_select .spec_list li.soldout label {
    cursor: no-drop;
}

.product_modal .spec_select .spec_list li span {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    font-size: .7rem;
    color: var(--dark_pink_color);
}