.header {
    :global {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: var(--white__translucent__color);
        box-shadow: -5px 0px 5px #0000003d;

        .icon {
            font-size: 1.5em;
            padding: .5em;
            cursor: pointer;
            color: var(--dark__green__color);
            transition: color .4s ease-in-out -.15s;
        }
        
        .group {
            display: flex;
            justify-content: center;
            align-items: center;
            width: min(1280px, 95%);
            margin: 0 auto;
        }
    
        .logo {
            order: 2;
    
            h1 {
                font-size: 0;
            }
    
            a {
                padding: 1.5em;
            }
        }

        .menu {
            order: 1;
            margin-right: auto;
        }

        .shopping__cart {
            order: 4;

            .icon {
                position: relative;

                &::before {
                    content: "9";
                    color: #fff;
                    font-size: 0.75rem;
                    font-family: 'Noto Sans TC';
                    width: 1.15rem;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    background-color: var(--dark__pink__color);
                    position: absolute;
                    left: 1.5rem;
                    bottom: 1.75rem;
                    display: grid;
                    place-content: center;
                    box-shadow: 0 0 0 .15rem var(--white__translucent__color);
                }
            }
        }
    }
}