.footer {
    :global {
        box-shadow: 0px -1px 5px #0000001f;
        .group {
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            justify-content: space-between;
            align-items: flex-start;
            width: min(1280px, 95%);
            margin: 0 auto;
            position: relative;
            padding: 3em 0;

            .logo__info > * {
                padding: .5em;
            }
    
            .brand__icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                a {
                    --border__width: 2px;
                    width: 30px;
                    color: var(--primary__color);
                    border: var(--border__width) solid var(--primary__color);
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: var(--white__color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: border .3s ease-in-out,
                                background .3s ease-in-out,
                                color .3s ease-in-out;
    
    
                    &:hover {
                        color: var(--white__color);
                        border: var(--border__width) solid transparent;
                        background-color: var(--primary__color);
                    }
                }
            }
    

            .footer__menu {
                flex: 0 1 800px;

                > ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 2em 5em;

                    > li {
                        flex: 0 1 130px;

                        a {
                            width: 100%;
                            font-size: .8rem;
                            padding: .3em 0;
                            transition: color .2s ease-in-out;
                        }

                        h3 {
                            color: var(--primary__color);
                            font-size: 1rem;
                            font-weight: 500;
                        }

                        li {
                            &:hover {
                                a {
                                    color: var(--light__pink__color);
                                }
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            color: var(--white__color);
            text-align: center;
            background-color: var(--dark__green__color);
        }
    }
}