.breadcrumb {
    font-size: .9em;
    padding: 1em 0;
    display: flex;
    background-color: #ffffffeb;
    position: sticky;
    top: calc(24px + 3rem);
    z-index: 10;
}

.breadcrumb li {
    display: flex;
}

.breadcrumb li ~ li::before {
    content: '/';
    margin-inline: .3em;
}

.breadcrumb li a {
    font-size: .9rem;
}

.breadcrumb li:last-of-type a {
    color: var(--dark_green_color);
    font-weight: 700;
}