main {
    --sidebar__width: 14em;
    width: min(1280px, 95%);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0 .5em;
    padding: 1rem 0;
    position: relative;
}

.product__content {
    width: 0;
    flex: 1 1 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1em;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.swiper {
    margin-inline: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-inline: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    filter: drop-shadow(0px 0px 3px #818181);
}

.swiper-pagination-bullet-active {
    background-color: var(--dark__green__color) !important;
    transform: scale(1.3);
}


@media screen and (max-width: 1024px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 769px) {
    :root {
        font-size: 14px;
    }
 
    .product__content {
        flex: 1 1 100%;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 2em !important;
    }
}