.show__modal {
    animation: showModal .2s ease-in;
}

.remove__modal {
    animation: hideModal .3s ease-out;
}

.product_modal {

    :global {
        width: min(800px, 85%);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 1001;
        border: none;
        border-radius: 1em;
        box-shadow: 0 0 1.5em #00000052;
        max-height: 90vh;
        overscroll-behavior: contain;
        -ms-scroll-chaining: contain;


        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1em;
            padding: 2.8em 1.8em;

            .item:nth-of-type(1) {
                width: 0;
                flex: 0 1 250px;
            }

            .item:nth-of-type(2) {
                flex: 2 1 300px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                gap: .8em;
            }

            .pic {
                overflow: hidden;
                position: relative;
            }
            
            .pic,
            .pic img {
                aspect-ratio: 1/1;
                object-fit: cover;
                background-color: #fff;
            }

            .txt {
                display: flex;
                flex-direction: column;
                gap: .5em;

                h2,p {
                    display: block;
                    height: auto;
                }
                h2 {
                    font-size: 1.1rem;
                    font-weight: 500;
                }
                
                p {
                    color: var(--gray_black_color);
                    font-size: .9rem;
                    text-align: justify;
                }
            }

            .price_box {
                flex: 8 1 115px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: baseline;
                gap: 0 .5em;

                .price {
                    color: var(--dark_green_color);
                    font-size: 1.2em;
                    font-weight: 700;
                }
                
                .ori_price {
                    color: var(--dark_gray_color);
                    font-size: .75rem;
                    text-decoration: line-through;
                }
            }

            .purchase_buttons_box {
                display: flex;
                flex-wrap: wrap;
                gap: .5em;
                flex: 1 1 100%;
            }

            .btn {
                color: #fff;
                flex: 8 1 200px;
                padding: .9em 0;
                cursor: pointer;
                transition: background .3s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 1em;
                    color: #fff;
                }
            }
            
            .quick_order_btn {
                background-color: var(--light_pink_color);

                &:hover {
                    background-color: var(--dark_pink_color);
                }
            }
            
            
            .add_cart_btn {
                background-color: var(--primary_color);

                .icon {
                    color: #fff;
                    transition: color .3s ease-in-out;
                }

                &:hover {
                    background-color: var(--dark_green_color);
                }
            }
        }
        .cancel {
            position: fixed;
            inset: .3em .3em auto auto;
            cursor: pointer;
            padding: .5em;
        }
    }
}

.scroll {
    overflow: auto;
}


@keyframes showModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes hideModal {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}