.price__box {
    :global {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: baseline;
        gap: .5em;
    
        .ori__price {
            color: var(--dark__gray__color);
            font-size: .75rem;
            text-decoration: line-through;
        }
    
        .price {
            color: var(--dark__green__color);
            font-size: 1.1rem;
            font-weight: 700;
        }
    }
}